-r cnc/requirements.txt

opik==1.8.8
instructor==1.7.3
mitmproxy==11.0.2
sqlmodel==0.0.24
alembic
pytz
jsbeautifier

git+https://github.com/JohnPeng47/browser-use.git@old_bu
git+https://github.com/JohnPeng47/browser-use.git@latest_bu