pyperclip==1.9.0
json-repair
langchain-google-genai
MainContentExtractor
pydantic==2.10.6
pytest
pytest-asyncio
flask
sqlalchemy
sqlmodel
fastapi
asgi_lifespan
aiosqlite
alembic
dotenv
aiohttp
# why do i need this specific version again?
httpx
-e ./submodules/browser-use
-e ./submodules/johnllm
-e ./submodules/opik/sdks/python